<section>
  <!-- BEGIN SIDEBAR -->
  <div class="sidebar">
    <div class="logopanel">
      <h1>
        <a href="reception/"></a>
      </h1>
    </div>
    <div class="sidebar-inner">
      <ul class="nav nav-sidebar">
        <li>
          <a href="reception/">
            <i class="icon-home"></i>
            <span>Dashboard</span>
          </a>
        </li>
        <li class="nav-parent ">
          <a>
            <i class="icon-bulb"></i>
            <span>Appointment</span>
          </a>
          <ul class="children collapse">
            <li>
              <a href="reception/appointment/"> Book</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <!-- END SIDEBAR -->
  <div class="main-content">
    <!-- BEGIN TOPBAR -->
    <div class="topbar">
      <div class="header-left">
        <div class="topnav">
          <a class="menutoggle" href="#" data-toggle="sidebar-collapsed">
            <span class="menu__handle">
              <span>Menu</span>
            </span>
          </a>
        </div>
      </div>
      <div class="header-right">
        <ul class="header-menu nav navbar-nav">
          <!-- BEGIN USER DROPDOWN -->
          <li class="dropdown" id="language-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <i class="icon-globe"></i>
              <span>Language</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a data-lang="en">
                  <img src="../../../assets/global/images/flags/usa.png" alt="flag-english">
                  <span>English</span>
                </a>
              </li>
              <li>
                <a data-lang="fr">
                  <img src="../../../assets/global/images/flags/french.png" alt="flag-english">
                  <span>Français</span>
                </a>
              </li>
            </ul>
          </li>
          <!-- END USER DROPDOWN -->

          <!-- BEGIN USER DROPDOWN -->
          <li class="dropdown" id="user-header">
            <a href="#" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
              <img src="../../../assets/global/images/avatars/user1.png" alt="user image">
              <span class="username">{{receptionistProfile.firstname}}</span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="reception/profile">
                  <i class="icon-user"></i>
                  <span>My Profile</span>
                </a>
              </li>
              <li>
                <a (click)="logOut()">
                  <i class="icon-logout"></i>
                  <span>Logout</span>
                </a>
              </li>
            </ul>
          </li>
          <!-- END USER DROPDOWN -->
        </ul>
      </div>
      <!-- header-right -->
    </div>
    <!-- END TOPBAR -->
    <!-- BEGIN PAGE CONTENT -->
    <div class="page-content">
      <div class="header">
        <h2>Edit
          <strong>Receptionist Profile</strong>
        </h2>
        <div class="breadcrumb-wrapper">
          <ol class="breadcrumb">
            <li>
              <a href="/reception">Home</a>
            </li>
            <li>
              <a href="/reception/profile">Profile</a>
            </li>
            <li class="active">Edit</li>
          </ol>
        </div>
      </div>
      <div class="row">
        <div class="panel-content">
          <div class="col-lg-12 portlets">
            <div class="panel panel-default no-bd">
              <div class="panel-header bg-dark">
                <h2 class="panel-title">
                  <strong>Edit</strong> Receptionist Profile</h2>
              </div>
              <div class="panel-content bg-white">
                <div class="row">
                  <div class="col-md-12 col-sm-12 col-xs-12">
                    <form role="form" class="form-horizontal form-validation" novalidate="novalidate">
                      <div class="form-group">
                        <label class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-6 prepend-icon">
                          <input type="text" name="firstname" [(ngModel)]="currentProfile.firstname" class="form-control" ng-required="true" minlength="6">
                          <div id="firstnameError" hidden>
                            <small style="color:red; display:block"> Enter your first name</small>
                          </div>
                          <i class="icon-user"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Last Name
                        </label>
                        <div class="col-sm-6 prepend-icon">
                          <input type="text" name="lastname" [(ngModel)]="currentProfile.lastname" class="form-control" ng-required="true" minlength="5">
                          <div id="lastnameError" hidden>
                            <small style="color:red; display:block"> Enter your last name</small>
                          </div>
                          <i class="icon-user"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Old Password
                        </label>
                        <div class="col-sm-6 prepend-icon">
                          <input type="password" class="form-control" name="oldPassword" [(ngModel)]="currentProfile.currentPassword" />
                          <div id="oldPasswordError" hidden>
                            <small style="color:red; display:block"> Enter your password</small>
                          </div>
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">New Password
                        </label>
                        <div class="col-sm-6 prepend-icon">
                          <input type="password" class="form-control" name="newPassword" [(ngModel)]="currentProfile.newPassword" />
                          <div id="newPasswordError" hidden>
                            <small style="color:red; display:block"> Enter your new password</small>
                          </div>
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="col-sm-2 control-label">Repeat Password
                        </label>
                        <div class="col-sm-6 prepend-icon">
                          <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="currentProfile.confirmPassword" />
                          <div id="confirmPasswordError" hidden>
                            <small style="color:red; display:block"> Enter your new password</small>
                          </div>
                          <i class="icon-eye"></i>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-9 col-sm-offset-3">
                          <div class="pull-right">

                            <button type="button" (click)="saveProfile()" class="btn btn-embossed btn-primary m-r-20">Update</button>
                            <button type="button" (click)="cancelEdits()" class="cancel btn btn-embossed btn-default m-b-10 m-r-0">Clear</button>

                          </div>
                          <div class="col-sm-3 col-sm-offset-9" id="saveMessage" hidden>
                            <div class="alert alert-success" style="display: block;">
                              <a class="button close" style="padding-left: 10px;" href="#">
                              </a>
                              <i class="fa fa-info-circle "></i> Saved</div>
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="copyright">
          <p class="pull-left sm-pull-reset">
            <span>Copyright
              <span class="copyright">©</span> 2018 </span>
            <span>Owner</span>.
            <span>All rights reserved. </span>
          </p>
          <p class="pull-right sm-pull-reset">
            <span>
              <a href="#" class="m-r-10"></a>
              <a href="#" class="m-l-10 m-r-10"></a>
              <a href="#" class="m-l-10"></a>
            </span>
          </p>
        </div>
      </div>
    </div>
    <!-- END PAGE CONTENT -->
  </div>
  <!-- END MAIN CONTENT -->
</section>
<!-- BEGIN PRELOADER -->
<div class="loader-overlay">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>
<!-- END PRELOADER -->
<a href="#" class="scrollup">
  <i class="fa fa-angle-up"></i>
</a>