<ul>
    <li><a routerLink = "/adminClinic">Home</a></li>
    <li><a routerLink = "/adminClinic/profile">Profile</a></li>
    <li><a routerLink = "/adminClinic/clinicmanager">Clinic Manager</a></li>
    <li><a routerLink = "/adminClinic/doctor">Doctor</a></li>
    <li><a routerLink = "/adminClinic/nurse">Nurse</a></li>
    <li><a routerLink = "/adminClinic/hrManager">Hr Manager</a></li>
    <li><a routerLink = "/adminClinic/pharmacist">Pharmacist</a></li>
    <li><a routerLink = "/adminClinic/pharmacyManager">Pharmacy Manager</a></li>
    <li><a routerLink = "/adminClinic/receptionist">Receptionist</a></li>
    <li><a routerLink = "/logout">Logout</a></li>
</ul>