<ul>
  <li>
    <a routerLink="/adminClinic">Home</a>
  </li>
  <li>
    <a routerLink="/adminClinic/profile">Profile</a>
  </li>
  <li>
    <a routerLink="/adminClinic/clinicmanager">Clinic Manager</a>
  </li>
  <li>
    <a routerLink="/adminClinic/doctor">Doctor</a>
  </li>
  <li>
    <a routerLink="/adminClinic/nurse">Nurse</a>
  </li>
  <li>
    <a routerLink="/adminClinic/hrManager">Hr Manager</a>
  </li>
  <li>
    <a routerLink="/adminClinic/pharmacist">Pharmacist</a>
  </li>
  <li>
    <a routerLink="/adminClinic/pharmacyManager">Pharmacy Manager</a>
  </li>
  <li>
    <a routerLink="/adminClinic/receptionist">Receptionist</a>
  </li>
  <li>
    <a routerLink="/logout">Logout</a>
  </li>
</ul>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          Edit Profile
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">
            First Name
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="firstname" [(ngModel)]="currentProfile.firstname" />
          </div>
        </div>
        <div class="form-group">
          <br>
          <label class="col-sm-3 control-label">
            Last Name
          </label>
          <div class="col-sm-5">
            <input type="text" class="form-control" name="lastname" [(ngModel)]="currentProfile.lastname" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-info" (click)="saveProfile(currentProfile)">Update Profile
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--password-->
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="panel-title">
          Change Password
        </div>
      </div>
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-3 control-label">
            Old Password
          </label>
          <div class="col-sm-5">
            <input type="password" class="form-control" name="oldPassword" [(ngModel)]="currentProfile.currentPassword" />
          </div>
        </div>
        <div class="form-group">
          <br>
          <label class="col-sm-3 control-label">
            New Password
          </label>
          <div class="col-sm-5">
            <input type="password" class="form-control" name="newPassword" [(ngModel)]="currentProfile.newPassword" />
          </div>
        </div>
        <div class="form-group">
          <br>
          <label class="col-sm-3 control-label">
            Repeat Password
          </label>
          <div class="col-sm-5">
            <input type="password" class="form-control" name="confirmPassword" [(ngModel)]="currentProfile.confirmPassword" />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-5">
            <button type="submit" class="btn btn-info" (click)="savePassword(currentProfile)">Update Password
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="message">
      <br>
    </div>
  </div>
</div>